.cart{
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: 4fr 1fr;


    > main{
      padding: 2rem;
      overflow-y: auto;

      > h1{
        color: white;
        font: 100 2rem "Roboto";
      }
    }

    > aside {
        border-radius: 100px 0 0 100px;
        background-color: rgb(49, 106, 106);
        height: 100%;
        width: 100%;
        box-shadow: -10px 0px 10px rgb(55, 145, 141);
        display: flex;
        justify-content: center;
        flex-direction: column;

        > h2{
            margin: 1rem;
            font: 100 1.8rem "Roboto";
            letter-spacing: 2px;

            &:last-of-type{
                font-weight: 600;
            }
        }
    }
}

.cartItem {
    background-color: black;
    width: 100%;
    border-radius: 10px;
    margin: 2rem 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    align-items: center;
    img {
      width: 100%;
      height: 120px;
      object-fit: contain;
    }
    > div {
      display: flex;
      align-items: center;
      height: 100%;
      button {
        width: 30px;
        height: 30px;
        border: none;
        background-color: black;
        color: whitesmoke;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: black;
        }
      }
  
      p {
        width: 30px;
        height: 30px;
        display: grid;
        place-items: center;
      }
    }
  
    > svg {
      cursor: pointer;
      font-size: 1.5rem;
      display: inline-block;
      margin: auto;
  
      &:hover {
        color: white;
      }
    }
  }