#products{
    display: flex;
    padding: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}

#productCard{
    background-color: black;
    width: 250px;
    margin: 2rem;
    border-radius: 5px;
    padding: 2rem;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(54, 73, 77);

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    h4{
        margin: 1rem;
    }
    
    button{
        cursor: pointer;
        background-color: rebeccapurple;
        border: none;
        padding: 1rem;
        color: white;
        border-radius: 5px;
        transition: all 0.5s;
        font-weight: 500;
        width: 100%;
        &:hover {
           background-color: rgb(37, 69, 80);
          }
    }
    &:hover{
        transform: scale(1.05);
    }
}


